body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.3;
  font-size: 20px;
  background: rgb(95,251,63);
background: linear-gradient(80deg, rgba(95,251,63,1) 0%, rgba(66,124,255,1) 100%);
}
ul{
  list-style: none;
}
img{
  width: 100%;
}
.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: center;
}
.main__contacts{
  padding-left: 30px;
}
.position{
  padding-left: 30px;
}
.photo{
  width: 216px;
  height: 100px;
  background-color: aliceblue;
  margin-top: 10px;
  margin-right: 10px;
}
main{
  padding: 10px;
  margin: 0 auto;
  max-width: 760px;
}
p{
  padding-left:40px;
  margin: 0;
}
footer{
  margin: 0 auto;
  max-width: 760px;
}
@media(max-width:600px){
  h1{
      max-width: 200px;
  }
  header{
      padding: 10px;
      flex-direction: column;
  }
  .photo {
      height: 280px;
      margin: 0 auto;
  }
  ul, p, .main__contacts{
      padding-left: 10px;
  }
}