* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  background-color: rgb(234, 236, 222);
}
h1 {
  color: rgb(68, 64, 64);
  text-align: center;
  font-size: 60px;
  text-decoration: rgb(103, 120, 161) underline;
  font-family: sans-serif;
}
h2 {
  text-align: center;
  margin: 10px;
  font-size: 30px;
  color: rgb(68, 64, 64);
  text-decoration: rgb(103, 120, 161) underline;
}
.text {
  font-size: 23px;
}
header {
  padding-bottom: 20px;
}
.conteiner {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-name {
  background-color: rgb(234, 236, 222);
  text-align: center;
  font-size: 20px;
  color: rgb(68, 64, 64);
}

.header-conteiner div {
  min-width: 100px;
}

.header-foto {
  margin-right: 10px;
}

.header-name,
.main-description,
.footer-information {
  background-color: rgb(234, 236, 222);
}
.header-name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__contacts {
  font-size: 23px;
}
.main__contacts li {
  margin-bottom: 5px;
}

.skils {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
.skils li {
  margin-bottom: 5px;
}
.footer-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 1000px;
  height: 100px;
}
.footer-conteiner div {
  min-width: 100px;
}

pre {
  font-size: 20px;
}
.text li{
  margin-bottom: 10px;
}
.education{
 margin-bottom: 10px;
}
.footer-repos {
  text-align: center;
 
}
.footer-today {
  text-align: center;
 
}
.img_rsschool {
  padding: 0px 0px 10px 10px;
}
